# Build artifacts
.build/
DerivedData/
.DS_Store

# Xcode-specific files
*.xcworkspace
xcuserdata/
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/xcshareddata/xcschemes/*
!*.xcodeproj/xcshareddata/xcschemes/*.xcscheme

# macOS-specific files
.DS_Store

# Swift Package Manager

.swiftpm/
Package.resolved
archive/

# Logs
*.log

# Temporary files
*.swp
*.swo
*.tmp
*.temp

# User-specific files
*.mode1v3
*.pbxuser
